<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yeni Kaynak Ekle</title>
</head>
<body>
    <h1>Yeni Web Kaynağı Ekle</h1>
    <form action="/add_resource" method="POST">
        <label for="kaynakID">Kaynak ID:</label><br>
        <input type="text" id="kaynakID" name="kaynakID" required><br><br>
        
        <label for="kaynakAdi">Kaynak Adı:</label><br>
        <input type="text" id="kaynakAdi" name="kaynakAdi" required><br><br>
        
        <label for="kaynakDetay">Kaynak Detayı:</label><br>
        <textarea id="kaynakDetay" name="kaynakDetay" required></textarea><br><br>
        
        <label for="KaynakURL">Kaynak URL:</label><br>
        <input type="url" id="KaynakURL" name="KaynakURL" required><br><br>
        
        <button type="submit">Kaynağı Ekle</button>
    </form>
    <a href="/">Ana Sayfaya Dön</a>
</body>
</html>